@use "vars";

html {
  scroll-behavior: smooth;
}

body {
  min-width: vars.$minWidth;
}

.rotate-180 {
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
}

.flex-grow-1 {
  flex-grow: 1;
}

.line-height-133 {
  line-height: 133%;
}

.space-evenly {
  justify-content: space-evenly;
}

.center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.end {
  justify-content: end;
}

.space-between {
  justify-content: space-between;
}

.column {
  flex-direction: column;
}

.height-100 {
  height: 100%;
}

.gap-18 {
  gap: 18px;
}

.gap-20 {
  gap: 20px;
}

.gap-55 {
  gap: 55px;
}

.gap-14 {
  gap: 14px;
}

.gap-36 {
  gap: 36px;
}

.flex {
  display: flex;
}

.content-flex-end {
  justify-content: flex-end;
}

.align-items-end {
  align-items: flex-end;
}

.min-w-max-content {
  min-width: max-content;
}

.gap-27 {
  gap: 27px;
}

.align-self-end {
  align-self: flex-end;
}

.padding-right-81 {
  padding-right: 81px;
}

@media (max-width: vars.$tabletMaxWidth) {
  .headline {
    font-size: 18px;
  }
}

@media (min-width: vars.$desktopMinWidth) {
  .headline {
    font-size: 24px;
  }
}

.disable-scroll {
  overflow: hidden;
}

.disable-horizontal-scroll {
  overflow-x: hidden;
}

.container {
  max-width: 1165px;
  margin: 0 auto;
}

.container-big {
  max-width: 1890px;
  margin: 0 auto;
}

@keyframes pulse-img {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}

.testimonials-section,
.biography-section,
.designers-section,
.strong-points-section {
  scroll-margin-top: 135px;
}

@media (max-width: vars.$tabletMaxWidth) {
  .testimonials-section,
  .biography-section,
  .designers-section,
  .strong-points-section {
    scroll-margin-top: 82px;
  }
}