.upper-case {
  text-transform: uppercase;
}

.footer.text-section {
  margin: 14px auto;
  padding-left: 90px;
}

.footer.copyright-section {
  margin-top: 17px;
}

.phone {
  letter-spacing: -0.35px;
}

.footer.text-section.span {
  padding-left: 5px;
}

@media (min-width: $desktopMinWidth) {
  .footer {
    /* display: flex; */
    padding: 70px 20px;
  }
}

@media (max-width: $tabletMaxWidth) {
  .footer {
    /* display: flex; */
    padding: 47px 17px;
  }

  .footer__contact,
  .footer__copyright {
    padding-top: 6px;
  }
}
