@use "vars";

.upper-case {
  text-transform: uppercase;
}

.phone {
  letter-spacing: -0.35px;
}

.footer {
  background-color: vars.$baseColor;
  color: #fff;
  font-size: 16px;

  &__text {
    margin: 14px auto;
    padding-left: 90px;
  }

  &__copyright {
    margin-top: -6px;
  }

  &__span {
    padding-left: 5px;
  }

  &__contact,
  &__text,
  &__copyright {
    padding: 0px;
  }

  &__text {
    font-size: 18px;
  }

  &__span {
    font-family: "Roboto Black";
    font-size: 24px;
    padding: 0px;
  }

  &__address,
  &__address:link,
  &__address:visited,
  &__address:hover {
    font-size: 16px;
    text-transform: lowercase;
    color: #fff;
    line-height: 26px;
  }
}

@media (min-width: vars.$desktopMinWidth) {
  .footer {
    /* display: flex; */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 70px 20px;

    &__text {
      padding-left: 96px;
    }
  }
}

@media (max-width: vars.$tabletMaxWidth) {
  .footer {
    /* display: flex; */
    padding: 47px 17px;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;

    &__contact,
    &__copyright {
      padding-top: 6px;
      margin-top: -1px;
    }

    &__text {
      order: -1;
      align-self: flex-end;
      margin: 0;
      margin-top: 2px;
      letter-spacing: 0.30px;
    }
  }
}
