@use "vars";

.nav-header {
  /* margin: 0px 20px; */
  padding: 1% 20px;
  /* height: 135px; */
}

a {
  color: vars.$baseColor;
  font-size: inherit;
  text-transform: inherit;
  color: inherit;
  text-decoration: inherit;
  line-height: inherit;
}

.footer__address,
.footer__address:link,
.footer__address:visited,
.footer__address:hover,
.footer,
.link.lowercase,
.designer-figure__text,
.designer-figure__subtext {
  font-family: "Roboto Regular";
  line-height: 100%;
  letter-spacing: 0;
}

.biography-section__label,
.biography-section__list-header,
.hero-section__paragraph,
.footer__text {
  font-family: "Roboto Medium";
  line-height: 100%;
  letter-spacing: 0;
}

.designer-figure__text.bold,
.designer-figure__text.semibold,
.headline,
.links-section__item {
  font-family: "Roboto Bold";
  letter-spacing: 0;
  line-height: 100%;
}

.biography-section__blockquote {
  line-height: 100%;
  letter-spacing: 0;
}

.hero-section__caption,
.biography-section__article {
  font-family: "Playfair Display Medium";
}

.hero-section__caption,
.biography-section__article {
  line-height: 120%;
  letter-spacing: 0;
}

.link.underline {
  text-decoration: underline solid #fff;
}

.nav-header__title {
  font-family: "Playfair Display SemiBold";
  line-height: 120%;
  letter-spacing: 0;
  font-size: 86px;
}

.hero-section__caption {
  font-size: 86px;
}

.biography-section__label,
.biography-section__list-header {
  font-size: 18px;
}

.links-section__item {
  font-size: 16px;
  text-transform: capitalize;
  transform-origin: top left;
}

.link.lowercase {
  font-size: 16px;
  text-transform: lowercase;
}

.hero-section__text {
  display: flex;
  gap: 14px;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  // justify-content: center;
}

.message-button {
  width: 45px;
  height: 45px;
  color: #000;
  transition: fill vars.$animationDuration, outline-color vars.$animationDuration;
  fill: vars.$baseColor;
}

.message-button:hover {
  fill: #F5E0D6;
}

.message-button:active {
  fill: vars.$activeLinkColor;
}

.message-button:focus {
  fill: vars.$activeLinkColor;
}

.message-button:disabled {
  border: 1.32px solid #CCCCCC;
  fill: #CCCCCC;
}

.link.menu-list__link:focus,
.menu-list__link>.tablet-hide:focus {
  color: vars.$activeLinkColor;
}

.link.menu-list__link {
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0;
  border-radius: 10px;
  outline-color: transparent;
  transition: color vars.$animationDuration, outline-color vars.$animationDuration;
}

.link.menu-list__link:focus {
  text-decoration: none;
  outline: 2px solid vars.$activeLinkColor;
  outline-offset: 14px;
  border-radius: 10px;
  fill: #F5E0D6;
  color: vars.$hoverLinkColor;
}

.link.menu-list__link:hover {
  color: vars.$hoverLinkColor;
}

@media (min-width: vars.$desktopMinWidth) {
  .menu-list__item:nth-last-child(2) {
    margin-right: -37px;
  }

  .nav-header.flex {
    height: 135px;
  }

  .biography-section {
    display: grid;
    // grid-template-rows: 19% 26% 7% 33%;
    // grid-template-rows: 22.5% 30% 9% 21.5% 17%;
    grid-template-rows: 22.5% 30% minmax(9%, 1fr) 1fr;
    grid-template-columns: 49% 12% 39%;
  }

  .hero-section {
    background-image: image-set("../img/inside_weather_desktop.png" 1x,
        "../img/inside_weather_desktop@2x.png"
      );
  }

  .link.menu-list__link {
    font-family: "Roboto Medium";
    font-size: 24px;
    letter-spacing: 0;
  }

  .hero-section {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    // height: 630px;
    align-items: center;
    padding-bottom: 136px;
    padding-top: 137px;

    &__text {
      padding: 110px 20px;
      width: 48%;
    }
  }

  .tablet-hide {
    display: inline;
  }

  .tablet-show {
    display: none;
  }

  .nav-header {
    justify-content: end;
  }

  /* .biography-section {
    display: flex;
    justify-content: space-between;
    gap: 32px;
  } */

  .hero-section {
    margin-bottom: 151px;
  }

  .biography-section {
    padding: 0px 0px 150px 0px;
    // margin-left: 138px;
    // margin-right: 138px;

    &__img {
      /* width: 49%; */
      grid-row: 1 / -1;
      grid-column: 1 / 2;
    }

    &__head-div {
      /* flex-grow: 1; */
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      padding-left: 29px;
    }

    &__headline {
      writing-mode: vertical-lr;
      transform: rotate(-180deg);
    }

    &__article {
      max-width: 80%;
      grid-column: 3 / 4;
      grid-row: 2 / 3;
    }

    &__label {
      grid-column: 3 / 4;
      grid-row: 3 / 4;
      position: relative;
    }

    &__label::after {
      content: "";
      width: 20px;
      height: 6px;
      background-color: #0D0D0D;
      position: absolute;
      bottom: 120px;
    }

    &__list {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: 12px;
    }

    &__list,
    &__item {
      list-style-position: outside;
      list-style-type: "/";
    }

    &__item {
      padding-left: 4px;
    }

    &__blockquote {
      // font-family: "Bitter Regular";
      font-family: "Bitter Light";
    }

    &__article {
      font-family: "Playfair Display Medium";
    }

    &__quote {
      // display: flex;
      flex-direction: column;
      gap: 18px;
      grid-column: 3 / 4;
      grid-row: 4 / -1;
      margin-top: -125px;
    }

    &__blockquote {
      // font-size: 26px;
      font-size: 29px;
      // margin-right: 75px;
    }

    &__article {
      font-size: 86px;
    }
  }

  .no_bullet {
    list-style: none;
    padding-left: 0px;
  }

  .menu-list {
    white-space: nowrap;
  }

  .hero-section__paragraph {
    font-size: 20px;
  }

  .biography-text {
    gap: 36px;
  }

  .link.menu-list__link:hover {
    text-decoration: underline solid vars.$hoverLinkColor;
  }
}

@media (max-width: vars.$tabletMaxWidth) {
  .nav-header.flex {
    height: 82px;
  }

  .nav-header {
    padding: 1% 0%;
  }

  .link.menu-list__link {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  
  /* .biography-section {
    display: grid;
    grid-template-rows: 123px 156px 179px 406px;
    grid-template-columns: 14px 78% 18% 14px;
    row-gap: 28px;
    justify-content: space-around;
  } */

  .link.menu-list__link {
    font-family: "Bitter Regular";
    font-size: 40px;
    letter-spacing: 0;
    padding-left: 22px;
    margin-right: -19px;
  }

  .menu-list__link.contactsButton {
    padding-right: 32px;
    padding-left: 11px;
  }

  .link.menu-list__link {
    // padding-top: 14px;
    // padding-bottom: 14px;
    // padding-left: 28px;
    // padding-right: 28px;
  }

  .hero-section {
    background-repeat: repeat;
    /* background-position: 0% 100%; */
    /* background-size: 84% 48%; */
    min-height: 685px;
    // padding-top: 296px;
    // padding-bottom: 297px;
    margin-bottom: 81px;
    display: grid;
    grid-template-rows: 45% 55%;
    justify-content: normal;
  }

  .hero-section__text {
    width: 100%;
    // height: 45%;
    margin-top: 0px;
    padding-bottom: 103px;
    padding-top: 83px;
    margin-bottom: 2px;
  }

  .tablet-hide {
    display: none;
  }

  .tablet-show {
    display: inline;
  }

  .menu-list.flex {
    justify-content: space-between;
    width: 93%;
    margin: 0 auto;
  }

  .nav-header__nav,
  .menu-list {
    width: 100%;
  }

  .biography-text {
    grid-column: 1;
    order: -1;
    grid-row: 1;
    width: 100%;
    padding-left: 14px;
    grid-column: 1 / -1;
  }

  .hero-section__caption {
    font-family: "Playfair Display Regular";
  }

  .biography-section {
    padding: 0px 0px 80px 0px;

    &__img {
      grid-column: 1 / -1;
      grid-row: 4;
      order: 3;
      max-height: 400px;
      width: 100%;
      margin-top: 8px;
    }

    &__head-div {
      /* order: -1; */
      grid-row: 1;
      grid-column: 3;
      /* padding-right: 14px; */
    }

    &__article {
      order: 2;
      /* padding-top: 66px; */
      /* grid-column: 1 / -1; */
      grid-row: 3;
      grid-column: 2 / -2;
      align-self: end;
    }

    &__label {
      order: 0;
      grid-row: 1;
      grid-column: 2;
      margin-left: -6px;
    }

    &__quote {
      grid-row: 2;
      grid-column: 2 / -2;
      align-self: end;
    }

    &__list,
    &__item {
      /* list-style-image: none; */
      list-style-position: outside;
      list-style-type: "-";
    }

    &__list {
      margin-left: 8px;
    }

    &__item {
      padding-left: 4px;
    }

    &__blockquote {
      font-family: "Bitter-Light";
      display: block;
      margin: 0px;
      // max-width: 75%;
      text-align: start;
    }

    &__article {
      font-family: "Playfair Display Regular";
    }

    &__head-div {
      justify-self: end;
      margin-right: 92px;
      /* grid-column: -1 / 1; */
    }

    &__blockquote {
      font-size: 30px;
      margin-right: 75px;
    }

    &__article {
      font-size: 64px;
      margin-left: -6px;
    }
  }

  .hero-section__caption {
    font-size: 70px;
    // margin-top: -24px;
  }

  .hero-section__paragraph {
    font-size: 18px;
  }

  .biography-text {
    gap: 60px;
  }
}

@media (max-width: vars.$tabletMaxWidth) and (min-width: vars.$tabletMinWidth) {
  .biography-section {
    display: grid;
    // grid-template-rows: 123px 156px 179px 406px;
    grid-template-rows: minmax(123px, 0.1fr) minmax(156px, 1fr) 179px 406px;
    grid-template-columns: 35px 77% 17% 14px;
    row-gap: 28px;
    justify-content: space-around;
  }

  .hero-section {
    background-image: image-set("../img/inside_weather_tablet.png" 1x,
        "../img/inside_weather_tablet@2x.png"
      );
  }
  .menu-list.flex {
    width: 93%;
  }
}

@media (max-width: 767px) {
  .hero-section {
    background-image: image-set("../img/inside_weather_mobile.png" 1x,
        "../img/inside_weather_mobile@2x.png"
      );
  }

  .biography-section {
    display: grid;
    grid-template-rows: minmax(124px, 0.2fr) minmax(227px, 0.9fr) 111px 407px;
    // grid-template-rows: 124px 228px 111px 407px;
    grid-template-columns: 18px 73% 19% 16px;
    row-gap: 28px;
    justify-content: space-around;

    &__headline.headline {
      margin-right: 10px;
    }

    &__blockquote {
      max-width: 100%;
    }

    &__img {
      width: 98%;
    }
  }

  .message-button {
    width: 65px;
  }

  .nav-header {
    padding: 1% 0%;
  }

  .link.menu-list__link {
    padding: 0px;
  }

  .gap-55 {
    gap: 10px;
  }
  
}

.nav-header {
  position: sticky;
  top: 0;
  z-index: 2;
  background: #fff;
}

.nav-header,
.nav-header__nav,
.menu-list {
  flex-direction: row;
  /* width: 100%; */
  align-items: center;
}

.small-line {
  height: 6px;
  width: 20px;
  background-color: vars.$baseColor;
}

.biography-section {
  &__img {
    object-fit: cover;
  }

  &__blockquote {
    padding: 0px;
  }

  &__head-div {
    flex-grow: 1;
  }

  &__blockquote.line-height-120 {
    // line-height: 120%;
    // letter-spacing: -0.05px;
    line-height: 31px;
    // letter-spacing: 1.95px;
    font-weight: 300;
    max-width: 81%;
    letter-spacing: 0px;
    padding-top: 23px;
  }

  &__label {
    letter-spacing: -0.1px;
    line-height: 114%;
  }
}

@media (max-width: vars.$tabletMaxWidth) {
  .biography-section {
    width: 100%;
    &__blockquote.line-height-120 {
      line-height: 36px;
      letter-spacing: 0px;
      margin-left: -6px;
    }
  }
}

@media (max-width: vars.$mobileMaxWidth) {
  .menu-list.flex {
    width: 80%;
  }

  .biography-section {
    &__blockquote.line-height-120 {
      margin-right: 0px;
      max-width: 100%;
      margin-left: -1px;
    }

    &__article.line-height-133 {
      padding-bottom: 8px;
      padding-left: 7px;
    }

    &__label {
      padding-top: 1px;
      padding-left: 5px;
    }

    &__head-div {
      margin-right: 0px;
    }
  }
}
