@use "vars";

.nav-header {
  /* margin: 0px 20px; */
  padding: 1% 20px;
  /* height: 135px; */
}

a {
  color: #000;
  font-size: inherit;
  text-transform: inherit;
  color: inherit;
  text-decoration: inherit;
  line-height: inherit;
}

.footer__address,
.footer__address:link,
.footer__address:visited,
.footer__address:hover,
.footer,
.link.lowercase,
.designer-figure__text {
  font-family: "Roboto Regular";
  line-height: 100%;
  letter-spacing: 0;
}

.biography-section__label,
.hero-section__paragraph,
.footer__text {
  font-family: "Roboto Medium";
  line-height: 100%;
  letter-spacing: 0;
}

.designer-figure__text.bold,
.designer-figure__text.semibold,
.headline,
.links-section__item {
  font-family: "Roboto Bold";
  letter-spacing: 0;
  line-height: 100%;
}

.biography-section__blockquote {
  line-height: 100%;
  letter-spacing: 0;
}

.hero-section__caption,
.biography-section__article {
  font-family: "Playfair Display Medium";
}

.hero-section__caption,
.biography-section__article {
  line-height: 120%;
  letter-spacing: 0;
}

.link.underline {
  text-decoration: underline solid #fff;
}

.link.menu-list__link {
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0;
}

.nav-header__title {
  font-family: "Playfair Display SemiBold";
  line-height: 120%;
  letter-spacing: 0;
  font-size: 86px;
}

.hero-section__caption {
  font-size: 86px;
}

.biography-section__label {
  font-size: 18px;
}

.links-section__item {
  font-size: 16px;
  text-transform: capitalize;
  transform-origin: top left;
}

.link.lowercase {
  font-size: 16px;
  text-transform: lowercase;
}

.hero-section__text {
  display: flex;
  gap: 14px;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  justify-content: center;
}

@media (min-width: vars.$desktopMinWidth) {
  .menu-list__item:nth-last-child(2) {
    margin-right: -37px;
  }

  .nav-header.flex {
    height: 135px;
  }

  .biography-section {
    display: grid;
    grid-template-rows: 22.5% 30% 9% 21.5% 17%;
    grid-template-columns: 49% 12% 39%;
  }

  .hero-section {
    background-image: image-set(
      "../img/inside_weather_desktop.png" 1x,
      "../img/inside_weather_desktop@2x.png"
    );
  }

  .link.menu-list__link {
    font-family: "Roboto Medium";
    font-size: 24px;
    letter-spacing: 0;
  }

  .hero-section {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 630px;
    align-items: center;

    &__text {
      padding: 110px 20px;
      width: 48%;
    }
  }

  .tablet-hide {
    display: inline;
  }

  .tablet-show {
    display: none;
  }

  .nav-header {
    justify-content: end;
  }

  /* .biography-section {
    display: flex;
    justify-content: space-between;
    gap: 32px;
  } */

  .biography-section {
    padding: 151px 0px 150px 0px;
    margin-left: 138px;
    margin-right: 138px;

    &__img {
      /* width: 49%; */
      grid-row: 1 / -1;
      grid-column: 1 / 2;
    }

    &__head-div {
      /* flex-grow: 1; */
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      padding-left: 29px;
    }

    &__headline {
      writing-mode: vertical-lr;
      transform: rotate(-180deg);
    }

    &__article {
      max-width: 80%;
      grid-column: 3 / 4;
      grid-row: 2 / 3;
    }

    &__label {
      grid-column: 3 / 4;
      grid-row: 3 / 4;
    }

    &__list {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: 10px;
    }

    &__list,
    &__item-item {
      list-style-position: outside;
      list-style-type: "/";
    }

    &__item-item {
      padding-left: 4px;
    }

    &__blockquote {
      font-family: "Bitter Regular";
    }

    &__article {
      font-family: "Playfair Display Medium";
    }

    &__quote {
      display: flex;
      flex-direction: column;
      gap: 18px;
      grid-column: 3 / 4;
      grid-row: 4 / 5;
    }

    &__blockquote {
      font-size: 26px;
      margin-right: 75px;
    }

    &__article {
      font-size: 86px;
    }
  }

  .no_bullet {
    list-style: none;
    padding-left: 0px;
  }

  .menu-list {
    white-space: nowrap;
  }

  .message-button {
    padding: 10px;
  }

  .hero-section__paragraph {
    font-size: 20px;
  }

  .biography-text {
    gap: 36px;
  }

  .link.menu-list__link:hover {
    text-decoration: underline solid #000;
  }
}

@media (max-width: vars.$tabletMaxWidth) {
  .nav-header.flex {
    height: 82px;
  }

  /* .biography-section {
    display: grid;
    grid-template-rows: 123px 156px 179px 406px;
    grid-template-columns: 14px 78% 18% 14px;
    row-gap: 28px;
    justify-content: space-around;
  } */

  .link.menu-list__link {
    font-family: "Bitter Regular";
    font-size: 40px;
    letter-spacing: 0;
  }

  .hero-section {
    background-repeat: repeat;
    /* background-position: 0% 100%; */
    /* background-size: 84% 48%; */
    height: 685px;
  }

  .hero-section__text {
    width: 100%;
    height: 45%;
  }

  .tablet-hide {
    display: none;
  }

  .tablet-show {
    display: inline;
  }

  .menu-list.flex {
    justify-content: space-between;
    width: 93%;
    margin: 0 auto;
  }

  .nav-header__nav,
  .menu-list {
    width: 100%;
  }

  .biography-text {
    grid-column: 1;
    order: -1;
    grid-row: 1;
    width: 100%;
    padding-left: 14px;
    grid-column: 1 / -1;
  }

  .hero-section__caption {
    font-family: "Playfair Display Regular";
  }

  .biography-section {
    padding: 81px 0px 80px 0px;

    &__img {
      grid-column: 1 / -1;
      grid-row: 4;
      order: 3;
      max-height: 400px;
      width: 100%;
    }

    &__head-div {
      /* order: -1; */
      grid-row: 1;
      grid-column: 3;
      /* padding-right: 14px; */
    }

    &__article {
      order: 2;
      /* padding-top: 66px; */
      /* grid-column: 1 / -1; */
      grid-row: 3;
      grid-column: 2 / -2;
      align-self: end;
    }

    &__label {
      order: 0;
      grid-row: 1;
      grid-column: 2;
    }

    &__quote {
      grid-row: 2;
      grid-column: 2 / -2;
      align-self: end;
    }

    &__list,
    &__item-item {
      /* list-style-image: none; */
      list-style-position: outside;
      list-style-type: "-";
    }

    &__list {
      margin-left: 8px;
    }

    &__item-item {
      padding-left: 4px;
    }

    &__blockquote {
      font-family: "Bitter-Light";
      display: block;
      margin: 0px;
      max-width: 75%;
      text-align: start;
    }

    &__article {
      font-family: "Playfair Display Regular";
    }

    &__head-div {
      justify-self: end;
      /* grid-column: -1 / 1; */
    }

    &__blockquote {
      font-size: 30px;
      margin-right: 75px;
    }

    &__article {
      font-size: 64px;
    }
  }

  .hero-section__caption {
    font-size: 70px;
    margin-top: -24px;
  }

  .hero-section__paragraph {
    font-size: 18px;
  }

  .biography-text {
    gap: 60px;
  }

  .link.menu-list__link:hover {
    color: #a07c72;
  }
}

@media (max-width: vars.$tabletMaxWidth) and (min-width: vars.$mobileMaxWidth) {
  .biography-section {
    display: grid;
    grid-template-rows: 123px 156px 179px 406px;
    grid-template-columns: 14px 77% 17% 14px;
    row-gap: 28px;
    justify-content: space-around;
  }

  .hero-section {
    background-image: image-set(
      "../img/inside_weather_tablet.png" 1x,
      "../img/inside_weather_tablet@2x.png"
    );
  }
}

@media (max-width: 767px) {
  .hero-section {
    background-image: image-set(
      "../img/inside_weather_mobile.png" 1x,
      "../img/inside_weather_mobile@2x.png"
    );
  }

  .biography-section {
    display: grid;
    grid-template-rows: 124px 228px 111px 407px;
    grid-template-columns: 18px 73% 19% 16px;
    row-gap: 28px;
    justify-content: space-around;

    &__headline.headline {
      margin-right: 10px;
    }

    &__blockquote {
      max-width: 100%;
    }
  }

  .nav-header {
    padding: 1% 7%;
  }
}

.nav-header,
.nav-header__nav,
.menu-list {
  flex-direction: row;
  /* width: 100%; */
  align-items: center;
}

.small-line {
  /* border: 1px solid #000; */
  height: 6px;
  width: 20px;
  background-color: #000;
}

.biography-section {
  &__img {
    object-fit: cover;
  }

  &__blockquote {
    padding: 0px;
  }

  &__head-div {
    flex-grow: 1;
  }

  &__blockquote.line-height-120 {
    line-height: 120%;
    letter-spacing: -0.05px;
  }

  &__label {
    letter-spacing: -0.1px;
    line-height: 114%;
  }
}
