.modal {
  position: fixed;
  inset: 0;
  background: #817E7E99;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin form-block {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@mixin form-field {
  @include form-block;
  gap: 6px;
}

.callback {
  background: #fff;
  @include form-block;
  padding: 20px;
  

  &__label {
    padding-top: 10px;
  }

  &__header {
    font-family: "Roboto Bold";
    font-size: 22px;
  }

  &__buttons-container {
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__container {
    @include form-field;
    position: relative;
  }

  &__icon {
    position: absolute;
    right: 10px;
  }

  &__email,
  &__name,
  &__text {
    width: 100%;
  }
}

.hidden {
  display: none;
}
