@use "vars";

@supports (display: grid) {
  .strong-points-section__container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    overflow-x: auto;
  }
}

.strong-points-section {
  &__container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow-x: auto;
  }

  &__point-types {
    line-height: 100%;
  }

  &__point-types.flex {
    align-content: center;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-around;
    margin-left: -8px;
  }

  &__point-types {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-around;
    margin-left: -8px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.mt-m7 {
  margin-top: -7px;
}

.height-100 {
  height: 100%;
}

@supports (display: grid) {
  .strong-points-section__point-types {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
    justify-items: start;
    /* margin: 0px auto; */
    /* margin-left: 16px; */
  }

  .strong-points-section__article.mt-m7 {
    font-family: "Playfair Display Medium";
    font-size: 86px;
  }
}

@media (min-width: vars.$desktopMinWidth) {
  @supports (display: grid) {
    .strong-points-section__point-types {
      margin: 0px auto;
    }
  }
  .headline.strong-points-section__headline {
    // margin-left: 139px;
    margin-bottom: 32px;
  }

  .strong-points-section {
    margin-bottom: 150px;

    &__strengths {
      margin: -8px 38px;
    }

    &__container {
      padding-left: 20px;
    }

    &__point-types {
      font-family: "Bitter Regular";
      font-size: 34px;
    }

    &__img {
      min-width: max-content;
      height: 100%;
    }

    &__point-types {
      letter-spacing: 0;
      margin-top: -18px;
      line-height: 34px;
    }

    &__type {
      margin-left: -5px;
    }

    &__container {
      overflow: hidden;
    }
  }
  
  .height-555-px {
    height: 555px;
  }
}

@media (max-width: vars.$tabletMaxWidth) {
  @supports (display: grid) {
    .strong-points-section__point-types {
      row-gap: 13px;
      margin-left: 16px;
    }
  }

  .strong-points-section {
    margin-bottom: 84px;
    padding-left: 17px;

    &__strengths {
      order: -1;
    }

    &__headline.headline {
      margin-bottom: 30px;
    }

    &__strengths {
      margin: 0px 0px;
    }

    &__container {
      padding-left: 0px;
    }

    &__article.mt-m7 {
      font-family: "Playfair Display Regular";
      font-size: 46px;
    }

    &__point-types {
      font-family: "Bitter Regular";
      font-size: 24px;
    }

    &__img {
      max-width: 310px;
      min-height: vars.$mobileMinWidth;
      object-fit: cover;
      aspect-ratio: 1/1;
    }

    &__point-types {
      letter-spacing: -0.7px;
    }
  }
}

@media (max-width: vars.$tabletMaxWidth) and (min-width: vars.$mobileMaxWidth) {
  .strong-points-section {
    padding-right: 20px;
  }
}

@media (max-width: vars.$mobileMaxWidth) {
  .strong-points-section {
    margin-top: -10px;
  }
}