@use "vars";

.grid {
  display: grid;
}

.links-section {
  /* grid-template-rows: repeat(); */
  /* grid-template-rows: repeat(3, 1fr); */
  /* max-width: 98px; */
  /* justify-items: end; */
  height: 100%;
  align-content: center;
}

.row-gap-70 {
  row-gap: 70px;
}

.rotate-translate-180 {
  writing-mode: vertical-lr;
  transform: rotate(-180deg) translate(-31px, -165px);
}

.testimonials-section__image {
  /* width: 41%; */
  /* object-fit: cover; */
}

.testimonials-section__article.grid {
  /* grid-template-rows: 50% 50%; */
  /* grid-template-columns: 100%; */
  /* justify-content: center; */
  /* max-width: 47%; */
  margin: 0 auto;
  height: 100%;
  /* gap: 42px; */
}

.testimonials-section__blockquote {
  /* grid-column: 1/-1; */
  align-self: center;
  justify-self: center;
}

.testimonials-section__blockquote {
  text-align: center;
  /* padding: 0px 39px; */
}

.links-section__item {
  display: flex;
  flex-direction: column;
}

@media (min-width: vars.$desktopMinWidth) {
  .testimonials-section {
    // margin: 0 20px 150px 20px;
    padding-bottom: 150px;

    &__headline.headline {
      writing-mode: vertical-lr;
      transform: rotate(-180deg);
      justify-self: start;
      align-self: start;
      padding-right: 10px;
    }

    &__container {
      // padding: 0 119px;
      grid-template-columns: repeat(12, 1fr);
    }

    &__data {
      grid-column: 8 / -1;
    }

    &__article.grid {
      grid-template-columns: 100%;
      // grid-template-rows: 45% 45%;
    }

    &__blockquote,
    &__photo {
      grid-column: 1/-1;
    }

    &__article.grid {
      max-width: 74%;
      justify-content: center;
      gap: 42px;
      margin-top: -4px;
      padding-bottom: 28px;
    }

    &__img-section {
      grid-column: span 5;
      justify-self: center;
    }

    &__blockquote {
      font-family: "Bitter Regular";
    }

    &__photo {
      justify-self: center;
      margin-left: -39px;
    }

    &__blockquote {
      font-size: 32px;
    }

    &__blockquote {
      line-height: 118%;
      width: 63%;
      margin-top: 39px;
      margin-left: -42px;
      letter-spacing: 0.1px;
    }
  }

  .links-section {
    justify-items: end;
    display: grid;
    row-gap: 96px;

    &__item {
      writing-mode: vertical-lr;
      transform: rotate(-180deg) translate(-31px, -165px);
    }
  }
}

@media (max-width: vars.$tabletMaxWidth) and (min-width: vars.$mobileMaxWidth) {
  .testimonials-section {
    &__article.grid {
      grid-template-columns: 50% 50%;
    }

    &__container {
      /* padding: 0 119px; */
      /* grid-template-columns: repeat(12, 1fr); */
      grid-template-rows: 21px minmax(330px, auto) 35px; /*repeat(3, 1fr);*/
    }
  }

  .links-section {
    display: flex;
    gap: 80px;
  }
}

@media (min-width: vars.$tabletMinWidth) and (max-width: vars.$tabletMaxWidth) {
  .testimonials-section {
    &__data {
      grid-row: 2 / 3;
      margin-left: 15px;
    }
  }
}

@media (max-width: vars.$tabletMaxWidth) {
  .testimonials-section {
    margin: 3px 16px 80px 15px;

    &__headline.headline {
      order: -1;
      grid-row: 1 / 2;
      justify-self: end;
    }

    &__links {
      grid-row: -1 / -2;
    }

    &__data {
      grid-row: 2 / 3;
    }

    &__photo {
      object-fit: cover;
      aspect-ratio: 1/1;
    }

    &__container {
      row-gap: 28px;
    }

    &__blockquote {
      font-family: "Bitter-Light";
      align-self: start;
      padding-top: 29px;
      padding-bottom: 29px;
    }

    &__blockquote {
      font-size: 30px;
    }

    &__blockquote {
      // line-height: 116%;
      // letter-spacing: 1.5px;
      line-height: 119.5%;
        /* letter-spacing: 0.2px; */
      width: 99%;
      margin-left: -16px;
      margin-top: -2px;
    }
  }

  .links-section {
    justify-items: start;

    &__caption {
      order: -1;
    }
  }
}

@media (min-width: vars.$mobileMaxWidth) and (max-width: vars.$tabletMaxWidth) {
  .testimonials-section {
    &__article.grid {
      gap: 40px;
    }

    &__photo {
      max-width: 336px;
      min-height: 330px;
      margin-left: -15px;
    }

    &__data {
      margin-left: 0px;
    }
  }
}

@media (max-width: 767px) {
  .testimonials-section {
    &__container {
      grid-template-rows: 21px 1fr 35px; /*repeat(3, 1fr);*/
    }

    &__photo {
      justify-self: center;
    }
  }

  .links-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // gap: 20px;
    column-gap: 53px;
    margin-top: -3px;
    margin-left: 7px;
    row-gap: 28px;
  }
}

// @media (min-width: vars.$mobileMinWidth) and (max-width: vars.$mobileMaxWidth) {
//   .testimonials-section {
//     &__article.grid {
//       grid-template-rows: 25% 75%;
//     }
//   }
// }

@media (max-width: vars.$mobileMaxWidth) {
  .testimonials-section {
    margin: 0 16px 102px 16px;
    &__blockquote {
      padding: 0px 43px;
      letter-spacing: 0px;
      margin-top: 0px;
      margin-left: 3px;
    }

    &__article.grid {
      grid-template-rows: auto 63%;
      gap: 20px;
    }

    &__photo {
      width: 100%;
      height: 330px;
    }

    &__container {
      /* grid-template-rows: 21px 1fr 103px; */
      grid-template-rows: 3% auto 15%;
    }

    &__headline.headline {
      padding-right: 4px;
    }
  }

  .tablet-show.mobile-hide {
    display: none;
  }
}
