$tabletMaxWidth: 1024px;
$desktopMinWidth: $tabletMaxWidth + 1px;
$mobileMaxWidth: 768px;
$tabletMinWidth: $mobileMaxWidth + 1px;
$mobileMinWidth: 450px;
$hoverLinkColor: #A07C72;
$activeLinkColor: #E0B59F;
$baseColor: #000000;
$animationDuration: 0.3s;
$minWidth: 350px;