.designers-section-article {
  overflow-x: auto;
  margin: 0 auto;
  align-items: self-start;
  margin-top: 32px;
  padding-bottom: 7px;
}

.content-flex-end {
  justify-content: flex-end;
}

.align-items-end {
  align-items: flex-end;
}

.min-w-max-content {
  min-width: max-content;
}

.gap-27 {
  gap: 27px;
}

.align-self-end {
  align-self: flex-end;
}

.padding-right-81 {
  padding-right: 81px;
}

@media (min-width: 1025px) {
  .designers-section {
    padding-left: 20px;
  }

  .headline.designers {
    margin-left: 119px;
  }

  .designers-section-article-caption {
    align-self: flex-end;
    padding-right: 81px;
  }

   .designers-section-article-caption-nonfirst {
    align-self: flex-start;
   }

  .designers-section-article-figure {
    align-items: flex-end;
  }

  .designers-section-article-figure-img {
    min-width: max-content;
  }

  .designers-section {
    margin-bottom: 143px;
  }
}

@media (max-width: 1024px) {
  .headline.designers {
    margin-left: 0px;
  }

  .designers-section-article-figure-img {
    max-width: 310px;
    min-height: 440px;
    object-fit: cover;
  }

  .designers-section {
    margin-bottom: 78px;
    padding-left: 15px;
  }
}

@media (max-width: 450px){
  .designers-section {
    margin-bottom: 72px;
  }
}
