a {
  color: #000;
  font-size: inherit;
  text-transform: inherit;
  color: inherit;
  text-decoration: inherit;
  line-height: inherit;
}

.contact,
.contact:link,
.contact:visited,
.contact:hover,
.footer,
.link.lowercase,
.figure-caption {
  font-family: "Roboto Regular";
  line-height: 100%;
  letter-spacing: 0;
}

.biography-section-label,
.hero-section-text.paragraph,
.footer-text-section {
  font-family: "Roboto Medium";
  line-height: 100%;
  letter-spacing: 0;
}

.figure-caption.bold,
.figure-caption.semibold,
.headline,
.tLink {
  font-family: "Roboto Bold";
  letter-spacing: 0;
  line-height: 100%;
}

.biography-section.blockquote,
.testimonials-article-blockquote,
.span-point-types {
  line-height: 100%;
  letter-spacing: 0;
}

.hero-section-text.caption,
.article-head {
  font-family: "Playfair Display Medium";
}

.hero-section-text.caption,
.article-head {
  line-height: 120%;
  letter-spacing: 0;
}

.footer {
  /* display: flex; */
  padding: 70px 20px;
  background-color: #000;
  color: #fff;
  font-size: 16px;
}

.footer-contact-section,
.footer-text-section,
.footer-copyright-section {
  padding: 0px;
}

.footer-text-section {
  font-size: 18px;
}

.footer-text-section-span {
  font-family: "Roboto Black";
  font-size: 24px;
  padding: 0px;
}

.contact,
.contact:link,
.contact:visited,
.contact:hover {
  font-size: 16px;
  text-transform: lowercase;
  color: #fff;
  line-height: 26px;
}

.link.underline {
  text-decoration: underline solid #fff;
}

.link.header-item {
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0;
}

.link.header-item:hover {
  text-decoration: underline solid #000;
}

.header-title {
  font-family: "Playfair Display SemiBold";
  line-height: 120%;
  letter-spacing: 0;
  font-size: 86px;
}

.hero-section-text.caption {
  font-size: 86px;
}

/* .hero-section-text.caption,
.hero-section-text.paragraph {
  padding: 0px;
} */

.headline {
  font-size: 24px;
}

.article-head {
  font-size: 86px;
}

.biography-section-label {
  font-size: 18px;
}

.biography-section.blockquote {
  font-size: 26px;
  margin-right: 75px;
}

.figure-caption {
  font-size: 16px;
  line-height: 117%;
}

.figure-caption.bold,
.figure-caption.semibold {
  font-size: 16px;
}

.figure-caption.bold {
  text-transform: uppercase;
}

/* .testimonials-links-section {
  transform: rotate(-90deg);
} */

.tLink {
  font-size: 16px;
  text-transform: capitalize;
  transform-origin: top left;
}

.link.lowercase {
  font-size: 16px;
  text-transform: lowercase;
}

.testimonials-article-blockquote {
  font-size: 32px;
}

.hero-section {
  background-image: url("../img/inside-weather-Uxqlfigh6oE-unsplash-1.png");
}

.hero-section-text.flex {
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  justify-content: center;
}

@media (min-width: 1025px) {
  .link.header-item {
    font-family: "Roboto Medium";
    font-size: 24px;
    letter-spacing: 0;
  }

  .hero-section {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 630px;
    align-items: center;
  }

  .hero-section-text.flex {
    padding: 110px 20px;
    width: 48%;
  }

  .tablet-hide {
    display: inline;
  }

  .tablet-show {
    display: none;
  }

  .nav-header {
    justify-content: end;
  }

  .biography-section {
    display: flex;
    justify-content: space-between;
    gap: 32px;
  }

  .biography-img {
    width: 49%;
  }

  .headline-block {
    flex-grow: 1;
  }

  .headline-block-text {
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
  }

  .biography-text {
    width: 40%;
    padding-left: 10px;
  }

  .article-head.line-height-133 {
    max-width: 80%;
  }

  .biography-section-label-list-item {
    /* display: inline; */
  }

  .biography-section-label-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
  }

  .biography-section-label-list,
  .biography-section-label-list-item {
    list-style-position: outside;
    list-style-type: "/";
  }

  .biography-section-label-list-item {
    padding-left: 4px;
  }

  .no_bullet {
    list-style: none;
    padding-left: 0px;
  }

  .biography-section.blockquote {
    font-family: "Bitter Regular";
  }

  .article-head.line-height-133 {
    font-family: "Playfair Display Medium";
  }

  .biography-quote {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  .header-nav {
    white-space: nowrap;
  }

  .message-button {
    padding: 10px;
  }

  .hero-section-text.paragraph {
    font-size: 20px;
  }

  .biography-section {
    padding: 151px 0px 150px 0px;
  }

  .footer.flex {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: 1024px) {
  .link.header-item {
    font-family: "Bitter Regular";
    font-size: 40px;
    letter-spacing: 0;
  }

  .hero-section {
    background-repeat: repeat;
    /* background-position: 0% 100%; */
    background-size: 84% 48%;
    height: 685px;
  }

  .hero-section-text.flex {
    width: 100%;
    height: 45%;
  }

  .tablet-hide {
    display: none;
  }

  .tablet-show {
    display: inline;
  }

  .header-nav.flex {
    justify-content: space-between;
    width: 93%;
    margin: 0 auto;
  }

  .nav-menu-items,
  .header-nav {
    width: 100%;
  }

  .header-nav-item {
    /* min-width: 92px; */
  }

  .biography-section {
    display: grid;
    grid-template-columns: 83% 17%;
    row-gap: 30px;
  }

  .biography-img {
    order: 3;
    grid-column: 1 / -1;
    max-height: 400px;
    width: 100%;
  }

  .headline-block {
    order: -1;
    grid-column: -1 / -2;
    padding-right: 14px;
  }

  .headline-block-text {
  }

  .biography-text {
    grid-column: 1;
    order: -1;
    grid-row: 1;
    width: 100%;
    padding-left: 14px;
  }

  .article-head.line-height-133 {
    order: 2;
  }

  .biography-section-label {
    order: 0;
  }

  .biography-section-label-list,
  .biography-section-label-list-item {
    /* list-style-image: none; */
    list-style-position: outside;
    list-style-type: "-";
  }

  .biography-section-label-list {
    margin-left: 8px;
  }

  .biography-section-label-list-item {
    padding-left: 4px;
  }

  .biography-section.blockquote {
    font-family: "Bitter-Light";
    display: block;
    margin: 0px;
    max-width: 75%;
    text-align: start;
  }

  .article-head.line-height-133,
  .hero-section-text.caption {
    font-family: "Playfair Display Regular";
  }

  .hero-section-text.caption {
    font-size: 70px;
    margin-top: -24px;
  }

  .hero-section-text.paragraph {
    font-size: 18px;
  }

  .biography-section {
    padding: 81px 0px 80px 0px;
  }

  .footer.flex {
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
  }

  .footer-text-section {
    order: -1;
    align-self: flex-end;
  }

  .headline-block {
    justify-self: end;
  }
}

.nav-header {
  /* margin: 0px 20px; */
  padding: 1% 20px;
  /* height: 135px; */
}

.nav-header.flex {
  height: 82px;
}

.flex {
  display: flex;
}

.nav-header,
.nav-menu-items,
.header-nav {
  flex-direction: row;
  /* width: 100%; */
  align-items: center;
}

.gap-18 {
  gap: 18px;
}

.gap-20 {
  gap: 20px;
}

.gap-55 {
  gap: 55px;
}

.gap-14 {
  gap: 14px;
}

.gap-36 {
  gap: 36px;
}

.small-line {
  /* border: 1px solid #000; */
  height: 6px;
  width: 20px;
  background-color: #000;
}

.end {
  justify-content: end;
}

.space-between {
  justify-content: space-between;
}

.column {
  flex-direction: column;
}

.height-100 {
  height: 100%;
}

.biography-img {
  object-fit: cover;
}

.center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.space-evenly {
  justify-content: space-evenly;
}

.biography-section {
  max-width: 1165px;
  margin: 0 auto;
}

.rotate-180 {
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
}

.biography-article {
  width: 39%;
}

.biography-section.blockquote {
  padding: 0px;
}

.flex-grow-1 {
  flex-grow: 1;
}

.headline-block {
  flex-grow: 1;
}

.biography-text {
  gap: 36px;
}

.biography-section.blockquote.line-height-120 {
  line-height: 120%;
  letter-spacing: -0.6px;
}

.line-height-133 {
  line-height: 133%;
}

.biography-section-label {
  letter-spacing: -0.1px;
  line-height: 114%;
}
