.strong-points-section-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  overflow-x: auto;
}

.span-point-types {
  line-height: 100%;
}

@supports (display: grid) {
  .strong-points-section-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    overflow-x: auto;
  }
}

.height-100 {
  height: 100%;
}

.span-point-types.flex {
  align-content: center;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-around;
  margin-left: -8px;
}

.mt-m7 {
  margin-top: -7px;
}

.span-point-types {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-around;
  margin-left: -8px;
  margin-top: 15px;
  margin-bottom: 15px;
}

@supports (display: grid) {
  .span-point-types {
    display: grid;
    grid-template-columns: 1fr;
    gap: 13px;
    justify-items: start;
    /* margin: 0px auto; */
    margin-left: 16px;
  }

  .article-head.mt-m7 {
    font-family: "Playfair Display Medium";
    font-size: 86px;
  }
}

@media (min-width: 1025px) {
  .headline.strong-points {
    margin-left: 139px;
    margin-bottom: 32px;
  }

  .strong-points-section-strengths {
    margin: 0px 38px;
  }

  .strong-points-section-container {
    padding-left: 20px;
  }

  .span-point-types {
    font-family: "Bitter Regular";
    font-size: 34px;
  }

  .strong-points-section-img {
    min-width: max-content;
    height: 100%;
  }

  .height-555-px {
    height: 555px;
  }

  .strong-points-section {
    margin-bottom: 150px;
  }

  .span-point-types {
    letter-spacing: 0;
  }
}

@media (max-width: 1024px) {
  .strong-points-section-strengths {
    order: -1;
  }

  .headline.strong-points {
    margin-bottom: 30px;
  }

  .strong-points-section {
    padding-left: 17px;
    padding-right: 20px;
  }

  .strong-points-section-strengths {
    margin: 0px 0px;
  }

  .strong-points-section-container {
    padding-left: 0px;
  }

  .article-head.mt-m7 {
    font-family: "Playfair Display Regular";
    font-size: 46px;
  }

  .span-point-types {
    font-family: "Bitter Regular";
    font-size: 24px;
  }

  .strong-points-section-img {
    max-width: 310px;
    min-height: 450px;
    object-fit: cover;
    aspect-ratio: 1/1;
  }

  .strong-points-section {
    margin-bottom: 80px;
  }

  .span-point-types {
    letter-spacing: -0.7px;
  }
}
