.strong-points-section__container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  overflow-x: auto;
}

.strong-points-section__point-types {
  line-height: 100%;
}

@supports (display: grid) {
  .strong-points-section__container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    overflow-x: auto;
  }
}

.height-100 {
  height: 100%;
}

.strong-points-section__point-types.flex {
  align-content: center;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-around;
  margin-left: -8px;
}

.mt-m7 {
  margin-top: -7px;
}

.strong-points-section__point-types {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-around;
  margin-left: -8px;
  margin-top: 15px;
  margin-bottom: 15px;
}

@supports (display: grid) {
  .strong-points-section__point-types {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
    justify-items: start;
    /* margin: 0px auto; */
    /* margin-left: 16px; */
  }

  .strong-points-section__article.mt-m7 {
    font-family: "Playfair Display Medium";
    font-size: 86px;
  }
}

@media (min-width: 1025px) {
  @supports (display: grid) {
    .strong-points-section__point-types {
      margin: 0px auto;
    }
  }
  .headline.strong-points-section__headline {
    margin-left: 139px;
    margin-bottom: 32px;
  }

  .strong-points-section__strengths {
    margin: 0px 38px;
  }

  .strong-points-section__container {
    padding-left: 20px;
  }

  .strong-points-section__point-types {
    font-family: "Bitter Regular";
    font-size: 34px;
  }

  .strong-points-section__img {
    min-width: max-content;
    height: 100%;
  }

  .height-555-px {
    height: 555px;
  }

  .strong-points-section {
    margin-bottom: 150px;
  }

  .strong-points-section__point-types {
    letter-spacing: 0;
  }
}

@media (max-width: 1024px) {
  @supports (display: grid) {
    .strong-points-section__point-types {
      row-gap: 13px;
      margin-left: 16px;
    }
  }

  .strong-points-section__strengths {
    order: -1;
  }

  .headline.strong-points-section__headline {
    margin-bottom: 30px;
  }

  .strong-points-section {
    padding-left: 17px;
  }

  .strong-points-section__strengths {
    margin: 0px 0px;
  }

  .strong-points-section__container {
    padding-left: 0px;
  }

  .strong-points-section__article.mt-m7 {
    font-family: "Playfair Display Regular";
    font-size: 46px;
  }

  .strong-points-section__point-types {
    font-family: "Bitter Regular";
    font-size: 24px;
  }

  .strong-points-section__img {
    max-width: 310px;
    min-height: 450px;
    object-fit: cover;
    aspect-ratio: 1/1;
  }

  .strong-points-section {
    margin-bottom: 80px;
  }

  .strong-points-section__point-types {
    letter-spacing: -0.7px;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .strong-points-section {
    padding-right: 20px;
  }
}
