a {
  color: #000;
  font-size: inherit;
  text-transform: inherit;
  color: inherit;
  text-decoration: inherit;
  line-height: inherit;
}

.contact, 
.contact:link, 
.contact:visited, 
.contact:hover,
.footer,
.link.lowercase,
.figureCaption {
  font-family: "Roboto Regular";
  line-height: 100%;
  letter-spacing: 0px;
}

.biography-section-label,
.hero-section-text.paragraph,
.link.header-item,
.footer.text-section {
  font-family: "Roboto Medium";
  line-height: 100%;
  letter-spacing: 0px;
}

.figureCaption.bold,
.figureCaption.semibold,
.headline,
.tLink {
  font-family: "Roboto Bold";
  letter-spacing: 0%;
  line-height: 100%;
}

.biography-section.blockquote,
.testimonials-article.blockquote,
.span-point-types {
  font-family: "Bitter Regular";
  line-height: 100%;
  letter-spacing: 0px;  
}

.hero-section-text.caption,
.article-head {
  font-family: "Playfair Display Medium";
  line-height: 120%;
  letter-spacing: 0px;
}

.footer {
  padding: 70px 20px;
  background-color: #000;
  color: #FFF;
  font-size: 16px;
}

.footer.contact-section,
.footer.text-section,
.footer.copyright-section {
  padding: 0px;
}

.footer.text-section {
  font-size: 18px;
}

.footer.text-section.span {
  font-family: "Roboto Black";
  font-size: 24px;
  padding: 0px;
}

.contact, 
.contact:link, 
.contact:visited, 
.contact:hover {
  font-size: 16px;
  text-transform: lowercase;
  color: #FFF;
  line-height: 26px;
}

.link.underline {
  text-decoration: underline solid #fff;
}

.link.header-item {
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0px;
}

.link.header-item:hover {
  text-decoration: underline solid #000;
}

.header-title {
  font-family: "Playfair Display SemiBold";
  line-height: 120%;
  letter-spacing: 0%;
  font-size: 86px;
}

.hero-section-text.caption {
  font-size: 86px;
}

.hero-section-text.paragraph {
  font-size: 20px;
}

.hero-section-text.caption,
.hero-section-text.paragraph {
  padding: 0px;
}

.headline {
  font-size: 24px;
}

.article-head {
  font-size: 86px;
}

.biography-section-label {
  font-size: 18px;
}

.biography-section.blockquote {
  font-size: 26px;
}

.figureCaption {
  font-size: 16px;
}

.figureCaption.bold,
.figureCaption.semibold {
  font-size: 16px;
}

.figureCaption.bold {
  text-transform: uppercase
}

/* .testimonials-links-section {
  transform: rotate(-90deg);
} */

.tLink {
  font-size: 16px;
  text-transform: capitalize;
  transform-origin: top left;
}

.link.lowercase {
  font-size: 16px;
  text-transform: lowercase;
}

.testimonials-article.blockquote {
  font-size: 32px;
}

.span-point-types {  
  font-size: 34px;
}

.hero-section {
  background-image: url("../img/inside-weather-Uxqlfigh6oE-unsplash-1.png");
}

.hero-section-text {
  padding: 110px 20px;
  gap: 14px;
}