a {
  color: #000;
  font-size: inherit;
  text-transform: inherit;
  color: inherit;
  text-decoration: inherit;
  line-height: inherit;
}

.contact, 
.contact:link, 
.contact:visited, 
.contact:hover,
.footer,
.link.lowercase,
.figure-caption {
  font-family: "Roboto Regular";
  line-height: 100%;
  letter-spacing: 0px;
}

.biography-section-label,
.hero-section-text.paragraph,
.link.header-item,
.footer.text-section {
  font-family: "Roboto Medium";
  line-height: 100%;
  letter-spacing: 0px;
}

.figure-caption.bold,
.figure-caption.semibold,
.headline,
.tLink {
  font-family: "Roboto Bold";
  letter-spacing: 0%;
  line-height: 100%;
}

.biography-section.blockquote,
.testimonials-article.blockquote,
.span-point-types {
  font-family: "Bitter Regular";
  line-height: 100%;
  letter-spacing: 0px;  
}

.hero-section-text.caption,
.article-head {
  font-family: "Playfair Display Medium";
  line-height: 120%;
  letter-spacing: 0px;
}

.footer {
  padding: 70px 20px;
  background-color: #000;
  color: #FFF;
  font-size: 16px;
}

.footer.contact-section,
.footer.text-section,
.footer.copyright-section {
  padding: 0px;
}

.footer.text-section {
  font-size: 18px;
}

.footer.text-section.span {
  font-family: "Roboto Black";
  font-size: 24px;
  padding: 0px;
}

.contact, 
.contact:link, 
.contact:visited, 
.contact:hover {
  font-size: 16px;
  text-transform: lowercase;
  color: #FFF;
  line-height: 26px;
}

.link.underline {
  text-decoration: underline solid #fff;
}

.link.header-item {
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0px;
}

.link.header-item:hover {
  text-decoration: underline solid #000;
}

.header-title {
  font-family: "Playfair Display SemiBold";
  line-height: 120%;
  letter-spacing: 0%;
  font-size: 86px;
}

.hero-section-text.caption {
  font-size: 86px;
}

.hero-section-text.paragraph {
  font-size: 20px;
}

/* .hero-section-text.caption,
.hero-section-text.paragraph {
  padding: 0px;
} */

.headline {
  font-size: 24px;
}

.article-head {
  font-size: 86px;
}

.biography-section-label {
  font-size: 18px;
}

.biography-section.blockquote {
  font-size: 26px;
}

.figure-caption {
  font-size: 16px;
}

.figure-caption.bold,
.figure-caption.semibold {
  font-size: 16px;
}

.figure-caption.bold {
  text-transform: uppercase
}

/* .testimonials-links-section {
  transform: rotate(-90deg);
} */

.tLink {
  font-size: 16px;
  text-transform: capitalize;
  transform-origin: top left;
}

.link.lowercase {
  font-size: 16px;
  text-transform: lowercase;
}

.testimonials-article.blockquote {
  font-size: 32px;
}

.span-point-types {  
  font-size: 34px;
}

.hero-section {
  background-image: url("../img/inside-weather-Uxqlfigh6oE-unsplash-1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 630px;
}

.nav-header {
  /* margin: 0px 20px; */
  padding: 1% 20px;
  /* height: 135px; */
}

.flex {
  display: flex;
}

.nav-header,
.nav-menu-items,
.header-nav {
  flex-direction: row;
  /* width: 100%; */
  align-items: center;
}

.gap-18 {
  gap: 18px;
}

.gap-20 {
  gap: 20px;
}

.gap-55 {
  gap: 55px;
}

.gap-14 {
  gap: 14px;
}

.gap-36 {
  gap: 36px;
}

.small-line {
  /* border: 1px solid #000; */
  height: 6px;
  width: 20px;
  background-color: #000;
}

.end {
  justify-content: end;
}

.hero-section-text.flex {
  padding: 110px 20px;
  flex-direction: column;
  align-items: center;
  background-color: #FFF;
  justify-content: center;
  width: 48%;
}

.space-between {
  justify-content: space-between;
}

.column {
  flex-direction: column;
}

.height-100 {
  height: 100%;
}

.biography-img {
  width: 49%;
  object-fit: cover;
}

.center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.space-evenly {
  justify-content: space-evenly;
}

.biography-section {
  align-items: center;
  padding: 0px 137.5px;
}

.rotate-180 {
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
}

.headline {
  align-self: flex-start;
  flex-grow: 0.2;
}

.biography-article {
  width: 39%
}

.biography-section.blockquote {
  padding: 0px;
}

.flex-grow-1 {
  flex-grow: 1;
}

.message-button {
  padding: 10px;
}